*,
**::before,
**::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "monoton";
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf);
}
:root{
    --backclr: #070707; 
    --clr1: #9d9f9f;
    --clr2: #f4f7f8;
    --clr3: #ac8059;
}
body{
    height: 100vh;
    width: 1440px;
    background-color: #1d2025;
    font-family: "ubuntu";
}
a{
    text-decoration: none;
}
.logo{
    font-size: 3.5rem;
    font-family: "monoton";
    color: #727577;
    padding-left: 50px;
    margin-right: 2rem;
}
.login{
    align-items: center;
    text-align: center;

}
nav a {
    color: #6f6864;
    font-size: 1.2rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    justify-content: space-around;
    border-bottom: 1px solid #727577;
}
.homebutton{
    color: #f4f7f8;
}
main{
    position: relative;
    display: flex;
}
.maintext{
    display: flex;
    flex-direction: column;
}

.main-img-box-flex{
    display: flex;
    align-items: center;
}
.mainflex{
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 12rem;
}
.startflex{
    justify-content: space-between;
    align-items: center;
}
.right-flex{
    justify-content: space-around;
}
.main-img-box-flex{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

main{
    display: flex;
    position: relative;
    height: 90vh;
}
h1{
    font-size: 4rem;
    color: var(--clr1);
    text-align: center;
}
