*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

/* Sprache bei Google Fonts downloaden und als ttf im Ordner Fonts abspeichern, via ../../ hier aktivierbar*/
@font-face {
    font-family: Raleway;
    src: url(../../Font/Raleway-VariableFont_wght.ttf);
}

ul{
    list-style: none;
    justify-content: space-between;
    display: flex;
    color: #333;
    gap: 20px;
    align-items: center;
}

.logo {
    color: #666;
    font-size: 1.5rem;
    padding: 10px;
}
