*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-container{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem; 
    height: 10;
    margin: 1rem;
}
img{
    width: 100%;
    height: 100%;
}

.flexitem1{
    grid-area: a;
}
.flexitem2{
    grid-area: b;
}
.flexitem3{
    grid-area: c; 
}
.flexitem4{
    grid-area: d;
}
.flexitem5{
    grid-area: e;
}
.flexitem6{
    grid-area: f;
}
.flexitem7{
    grid-area: g;
}
.flexitem8{
    grid-area; h; 
}
.flexitem9{
    grid-area: i;
}


