*{
    padding: 0; 
    box-sizing: border-box;
}

.pets {
    border: solid black 3px;
}

li{
    font-size: 0.8em;
}
ul{
    padding-inline-start: 1.2em;
}
li{
    list-style: none;
    line-height: 1.5em;
}

.dog li::before{
    content: "\1F436"
}
.cat li::before{
    content: "\1F431"

}
.parrot li::before{
    content: "\1F99C"
    
}
.snake li:before{
    content: "\1F40D"
}
.lizzard li::before{
    content: "\1F98E"
}
